@charset "UTF-8";

@font-face {
	font-family: "noto";
	src : url("/css/NotoSans-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'noto';	
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

#main {
	width: 100%;
	height: 100vh;
	background-image: url("/imgs/main.jpg");
	background-size: cover;
	background-position: center center;
	position: relative;
	filter: blur(0px);
	transition: filter .8s;
}

#main > .main_black {
	width: 100%;
	height: 100%;
	background-color: #000b;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_black > .main_black_box > h1 {
	color: #f6f4f9;
	text-align: center;
	font-size: 120px;
	font-family: 'Bebas Neue', cursive;
	line-height: 125px;
}

.main_black > .main_black_box > h1 > span {
	color: #f9b705;
	font-family: 'Bebas Neue', cursive;
}

.main_black_box {
	position: relative;
}


#main_start {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 50px;
	outline: none;
	margin-top: 10px;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50px;
	cursor: pointer;
	font-size: 21px;
}

#main_start:hover {
	background-color: #fff2 !important;
}

.adt_fx {
	text-align: center;
	color: #fff;
	margin-top: 20px;
	text-decoration: underline;
	font-size: 15px;
}

.adt_fx > span {
	cursor: pointer;
}

#register {
	width: 52%;
	height: 61%;
	position: fixed;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	transform: translate(-50%,-50%);
	background-color: #fcfcfc;
	border-radius: 15px;
	box-shadow: 1px 2px 3px 2px #0001;
}

.register_container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

.register_container > div {
	position: relative;
	height: 100%;
}

.register_left {
	width: 41%;
	background-image: url('/imgs/register_left.png');
	background-size: 100% 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.register_right {
	width: 59%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.register_close {
	position: absolute;
	right: 15px;
	top: 4px;
	cursor: pointer;
	font-size: 30px;
	font-weight: bolder;
	color: #333030;
}

.register_left > h1 {
	color: #fffc;
	font-weight: lighter;
	font-size: 35px;
	margin-left: 60px;
	margin-top: 80px;
}

.register_left > p {
	margin-left: 60px;
	font-size: 15px;
	color: #fff8;
	font-family: "Arial";
	margin-top: 20px;
}

.register_close_btn {
	width: 80px;
	height: 25px;
	background-color: transparent;
	cursor: pointer;
	color: #f7f7f7;
	border: 1px solid #f7f7f7;
	position: absolute;
	left: 50px;
	bottom: 60px;
	outline: none;
}

#register_form {
	position: relative;
	width: 71%;
}

#register_form > .input-box {
	width: 100%;
	height: auto;
	position: relative;
}

#register_form > .input-box > input {
	width: 100%;
	height: 17px;
	outline: none;
	border: none;
	border-bottom: 2px solid #e6e6e6;
	background-color: transparent;
	font-weight: bold;
	padding-bottom: 4px;
	margin-top: 35px;
	font-size: 13px;
	color: #666;
	transition: border-bottom .4s;
}

#register_form > .input-box > label {
	position: absolute;
	left: 0;
	bottom: 6px;
	font-size: 13px;
	color: #aaa;
	font-weight: bolder;
	transition: all.3s;
}

#register_submit {
	background-color: #8372c3;
	color: #fff;
	width: 100%;
	margin-top: 30px;
	height: 50px;
	border-radius: 8px;
	font-size: 17px;
	cursor: pointer;
	border: none;
}

#register_form > p {
	text-align: center;
	font-size: 15px;
	color: #9b9b9b;
	margin-top: 20px;
}

#register_form > p > span {
	font-weight: bolder;
	font-size: 14px;
	margin-left: 3px;
	cursor: pointer;
	transition: color .4s;
	color: #8980a5;
}

#register_form > p > span:hover {
	text-decoration: underline;
}

#register_form > span {
	font-size: 11px;
	font-weight: bold;
	color: #777;
}

#login {
	width: 400px;
	height: 680px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	background-image: url("/imgs/login.jpg");
	display: none;
	background-size: 100% 100%;
	border-radius: 20px;
	box-shadow: 1px 2px 3px 2px #fff1;
}

.login-box {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0006;
	border-radius: 20px;
}

.login-box > form {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 20px;
}

.login-box > form > .input-group {
	width: 68%;
	height: 20%;
	background-color: #fff4;
	border-radius: 15px;
	z-index: 10;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.login-box > form > .input-group > .input-container {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
}

.login-box > form > .input-group > .input-container:first-child {
	border-bottom: 1px solid #fff5;
}

.login-box > form > .input-group > .input-container > i {
	color: #fff;
	font-size: 25px;
	border-right: 1px solid #fff;
	padding-right: 10px;
	margin-left: 15px;
	line-height: 33px;
}

.login-box > form > .input-group > .input-container:last-child > i {
	font-size: 23px;
	padding-right: 12px;
}

.login-box > form > .input-group > .input-container > input {
	width: 100%;
	height: 100%;
	background:transparent;
	border: 0px solid #fff;
	outline: none;
	padding: 0 15px;
	font-size: 13px;
	color: #fff;
}

.login-box > form > .input-group > .input-container > input::placeholder {
	color: #fffa;
}

#login_submit {
	width: 68%;
	height: 7%;
	background-color: #fff4;
	border-radius: 5px;
	position: absolute;
	border: none;
	cursor: pointer;
	color: #fff8;
	font-size: 19px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 34%;
}

.login_bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 31%;
	width: 68%;
	display: flex;
	justify-content: space-between;
	color: #fff8;
	font-size: 12px;
}

.login_bottom > div:hover {
	text-decoration: underline;
}

.login_bottom > div {
	cursor: pointer;
}

#login_submit:hover {
	background-color: #fff5;
}

.login-close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 22px;
	font-weight: bolder;
	color: #fffc;
	cursor: pointer;
}

.game-container {
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('/imgs/game.jpg');
	background-size: cover;
	background-position: center center;
}

.home-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-title {
	text-align: center;
	color: #f4f5f9;
	text-shadow : 4px 4px 7px #248687, -4px -4px 7px #248687, -4px 4px 7px #248687, 4px -4px 7px #248687;	
	position: relative;
	font-size: 50px;
	top: 120px;
	font-family: 'Ubuntu', sans-serif;
}

.main-btn {
	width: 200px;
	height: 78px;
	background-size: 100% 100%;
	position: relative;
	top: 220px;
	outline: none;
	background-image: url('/imgs/button1h.png');
	cursor: pointer;
	border: none;
	color: #fff;
	margin-top: 30px;
	font-weight: bolder;
	font-size: 17px;
}
.main-btn:hover {
	background-image: url('/imgs/button1.png');
}

.home {
	width: 600px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: linear-gradient(rgba(17,31,42,0.7), rgba(33,50,63,0.8), rgba(45,58,67,0.9)), url('/imgs/game1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}